* {
    box-sizing: border-box;
  }
  body {
      background-color: #e7dfd5;  
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    }

    img {
        display: block;
        margin: auto;
      }

      #container{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;      
    }  

    main, nav ,header, aside{
        padding: 10px;
    }
    main{
        width: 100%;
    }
    navigator, #aside{
        width: 100%;
    }
    header, footer {
        width: 100%; 
        background-color: #204051;
        color: #e7dfd5;
    }
    aside, nav{
        background-color: #3b6978;
    }
    @media screen and (min-width: 768px) {
        #container{
            display: flex;
            flex-direction: row;
        }
        main{
            width: 50%;
        } 
        nav, aside{
            width: 25%;
        }
      
      }