* {
  box-sizing: border-box;
}
body {
    background-color: #fff;    
  }

img {
  display: block;
  margin: auto;
}
div {
 border-style: double;
}

#container{
    width: 100%;      
}
#main, #navigator ,#header{
    padding: 10px;
}
#header, #footer {
    width: 100%; 
    background-color: #204051;
    color: #e7dfd5;
}
#aside, #navigator{
    background-color: #3b6978;
}

/* /* Responsive cases , the breakpoint 1024 */

@media screen and (min-width: 1024px) {
  body {
    background-color: #ecf0e5;
  }
  /* #navigator, #main, #aside{
      float: left;
  } */
  #header{
      float: left;
 
  }
  #container{
      clear: both;
      float: left;
  }

  #navigator{
      width: 25%;      
      float: left;
      border-style: none;
      background-color:  #ecf0e5 ;
  }

  #main{
      width: 50%;
      float: left;
  }
  #aside{
      width: 25%;     
      float: left;
      border-style: none;      
      background-color:  #ecf0e5;
  }
  #footer{
      clear: both;
      float: left;
  }

}
