* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a{
    font-size: 15px;
    line-height: 1.5em;
}

img {
  display: block;
  margin: auto;
}

div {
  border-style: double;
}

#container {
  width: 100%;
}
main,
nav,
header {
  padding: 10px;
}
header,
footer {
  width: 100%;
  background-color: #204051;
  color: #e7dfd5;
}
aside,
nav {
  background-color: #3b6978;
}

/* /* Responsive cases , the breakpoint 1024 */

@media screen and (min-width: 768px) {
  body {
    background-color: #ecf0e5;
  }
  /* #navigator, #main, #aside{
      float: left;
  } */
  header {
    float: left;
  }
  #container {
    clear: both;
    float: left;
  }

  nav {
    width: 25%;
    float: left;
    border-style: none;
    background-color: #ecf0e5;
  }

  main {
    width: 50%;
    float: left;
  }
  aside {
    width: 25%;
    float: left;
    border-style: none;
    background-color: #ecf0e5;
  }
  footer {
    clear: both;
    float: left;
  }
}
