* {
    box-sizing: border-box;
  }
  body {
      background-color: rgb(236, 236, 213); 
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  
    }
    a{
        font-size: 15px;
        line-height: 1.5em;
    }      
    img {
        display: block;
        margin: auto;
      } 
    
    header{
        
        background-color: #204051;
        color: #e7dfd5;
        padding: 10px;
    }
    nav{
        
        background-color: #3b6978;        
        padding: 10px;
    }
    aside{
        
        background-color: #3b6978;        
        padding: 10px 20px;
    }
    main{
        
        padding: 10px 50px;
    }
    footer{
        background-color: #204051;
        color: #e7dfd5;
        padding: 10px;
    }  
    
    @media screen and (min-width: 768px){
        .container {
            display: grid;  
            grid-template-columns:25% auto 25%; 
        }
    }