/* body {
    background-color: darkgrey;
} */
body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
p{
    padding: 10px;
    text-align: justify;
}
.opc1 p, .opc2 p, .opc3 p{
    text-align: center;
}
a{
    font-size: 15px;
    line-height: 1.5em;
}
img{
    max-width: 100%;
}
.container{
    width: 50%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border-style: double;
    border-radius: 20px;  

    background-color: #e7dfd5;   
}


@media screen and (min-width: 768px ){
    /* .opc1, .opc2, .opc3{
        float: left;
        padding: 10px;
    } */
}